*__pycache__/
*.pyc
storage/images/
storage/jsons/
storage/train_data/
/models
!/models/
!/models/.gitkeep
!/models/yolo_models/
!/models/yolo_models/.gitkeep
!/app/models/
*.log
*.pt
.venv/
venv/
env/
.idea/
.vscode/

.env
.env.local
uvicorn.pid
runs/
test/
